.basketForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: white;
}

.basketBtn {
  width: 30px;
  height: 30px;
  border: none;
  margin: 10px;
}

.plus {
  background: green;
}

.minus {
  background: orange;
}

.basketBtn:hover {
  transform: scale(1.1);
}